<!DOCTYPE html>

<title>Symericipe - connexion</title>

{% block header %}{% include "./navigation.html.twig" %}{% endblock %}

{% block body %}

<div class="container">
<h1 class="mt-4">Formulaire de connexion</h1>

{% for message in app.flashes('success') %} <!-- Affiche le flash de addFlash de IngredientController -->
<div class="alert alert-secondary mt-4">{{ message }}</div>
{% endfor %}


{% if error %}
<div class="alert alert-secondary mt-4">{{ error.messageKey | trans(error.messageData,'security') }}</div>
{% endif %}

<form action="{{ path('app_connexion') }}" method="post">

    <div class="form-group">
      <label for="username" class="form-label mt-4">Adresse email</label>
      <input type="email" class="form-control" id="username" name="_username" placeholder="Insérer votre email" value="{{ last_username }}">
    </div>
    <div class="form-group">
      <label for="password" class="form-label mt-4">Mot de passe</label>
      <input type="password" class="form-control" id="password" name="_password" placeholder="********" >
    </div>
    <button type="submit" class="btn btn-secondary mt-4">Se connecter</button>
    
</form>
</div>

{% endblock %}
