<!DOCTYPE html>

<title>Symericipe - Modification</title>

{% block header %}{% include "./navigation.html.twig" %}{% endblock %}

{% block body %}

<div class="container">
<h1 class="mt-4">Modification</h1>

{{ form(form) }}

</div>


{% endblock %}
